# VSCode 환경 설정
.vscode/

# Object files
*.o
*.d

# Build outputs
build/
*.so
*.bin
*.img
*.map

# Kernel binaries
*.out
*.elf

# Editor/IDE files
*~
*.swp
*.swo
*.swn
*.bak
.idea/

# OS-specific
.DS_Store

# GDB/Debug
.gdb_history
.gdbinit

# Test results
tests/*.output
tests/*.log
tests/*.diff
tests/*.result

# Temp files
*.tmp
*.log
*.rej
*.orig